## 판다스로 파일 저장하기

In [1]:
import pandas as pd
df = pd.DataFrame(columns=['순위','제목','가수']) # 데이터 프레임 설정
df

Empty DataFrame
Columns: [순위, 제목, 가수]
Index: []

In [2]:
#데이터 추가
df.loc[0]=[1,'날미워하지마','IVE (아이브)']
df.loc[1]=[2,'Kitsch','IVE (아이브)']
df.loc[2]=[3,'손오공','세븐틴(SEVENTEEN)']
df.loc[3]=[4,'나의 바람','비투비']
df

   순위      제목              가수
0   1  날미워하지마       IVE (아이브)
1   2  Kitsch       IVE (아이브)
2   3     손오공  세븐틴(SEVENTEEN)
3   4   나의 바람             비투비

In [ ]:
df = df.set_index('순위')
df.to_csv(f'./data/벅스탑100.csv',encoding='utf-8') # 기본 인코드(vscode, 메모장에서 열때)
df.to_csv(f'./data/벅스탑100_sig.csv',encoding='utf-8-sig') # 엑셀파일에서 열때
df.to_csv(f'./data/벅스탑100_cp949.csv',encoding='cp949') # 엑셀파일에서 열때
df.to_csv(f'./data/벅스탑100_euc_kr.csv',encoding='euc_kr') # ANSI

In [3]:
pd.read_csv(f'./data/벅스탑100_euc_kr.csv',encoding='euc_kr')

   순위      제목              가수
0   1  날미워하지마       IVE (아이브)
1   2  Kitsch       IVE (아이브)
2   3     손오공  세븐틴(SEVENTEEN)
3   4   나의 바람             비투비